@import "../../mainStyle.scss";

.title-wrap {
  padding: 2rem 0;
  h2 {
    font-size: 32px;
    line-height: 39px;
    color: #000;
    margin-left: 20px;
    position: relative;
    text-transform: uppercase;
    &::before {
      content: "";
      position: absolute;
      left: -20px;
      width: 4px;
      height: 100%;
      background-color: $green--lightcolor;
    }
  }
}

@media(max-width: 576px){
  .title-wrap{
    padding: 1rem 0;
    
    h2{
      font-size: 20px;
      line-height: 25px;
    }
  }
}
