.head-content {
  background: {
    image: linear-gradient(90deg, #211f20 10%, rgba(68, 64, 63, 0) 100%),
      url("../../assets/header-img.png");
    repeat: no-repeat;
    size: 100% 100%;
  }
  padding: 60px 0 140px 0;

  .container-item {
    position: relative;
    margin-top: 3rem;
    h3 {
      font-size: 3rem;
      color: #fff;
      width: 80%;
      text-align: center;
    }
    button {
      color: #fff;
      padding: 7px 1rem;
      font-size: 20px;
      line-height: 109.2%;
      outline: none;
      border: none;
      transform: skewX(-20deg) rotate(-9deg) translateY(-23px);
      display: block;
      margin-left: 30%;
    
    }
    img {
      &[class*="text1"] {
        position: absolute;
        left: -3px;
      }
      &[class*="head-btn"] {
        position: absolute;
        left: 30%;
        bottom: 0;
      }
    }
  }
}
