@import "../../mainStyle.scss";

.filter-form {
  .item-filter {
    ul {
      padding: 20px;
      overflow-x: auto;
      width: 100%;
      height: 80px;
      white-space: nowrap;

      li {
        margin: 0 20px;
        flex-shrink: 0;
        list-style-type: none;
        color: #000;
        font-size: 20px;
        position: relative;
        display: flex;
        justify-content: center;
        cursor: pointer;
        &::before {
          content: "";
          height: 2px;
          width: 0;
          position: absolute;
          bottom: -4px;
          background-color: $green--lightcolor;
          transition: all 0.2s ease;
        }
        &:hover,
        &.active {
          &::before {
            width: 100%;
          }
        }
      }

      &::-webkit-scrollbar {
        height: 5px;
        overflow: hidden;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 10px #b7d6d6;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #0fe6e6b9;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background-color: $green--lightcolor;
      }
    }
  }
}

@media (max-width: 576px) {
  .filter-form {
    .item-filter {
      ul {
        li {
          font-size: 16px;
          &::before {
            bottom: 0;
          }
        }
      }
    }
  }
}
