@import "../../mainStyle.scss";

.navbar-content {
  background-color: $bg--color;
  padding: 20px 0;
  border-bottom: 1px solid gray;
  border-radius: 0 0 10px 10px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navbar-brand {
      width: 100px;
      
    }
    .contact {
      display: flex;
      align-items: center;
      text-decoration: none;
      .phone-icn {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $green--color;
        svg {
          color: #fff;
          width: 16px;
        }
      }
      p {
        font-size: 12px;
        color: $text--color;
      }
      h5 {
        color: #000;
        font-size: 14px;
      }
    }
    .korzinka-box {
      border-radius: 10px;
      background: $green--color;
      padding: 12px 15px;
      cursor: pointer;
      transition: 0.2s linear;
      -webkit-transition: 0.2s linear;
      -moz-transition: 0.2s linear;
      .badge {
        font-size: 20px;
        position: relative;
        color: $green--color;
        background-color: #fff;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before {
          content: "";
          position: absolute;
          color: #fff;
          left: -50%;
          width: 1px;
          height: 100%;
          background-color: #fff;
        }
      }
    }
  }
}

@media (max-width: 520px) {
  .navbar-content {
    .container {
      .contact {
          margin-right: 10px;
          flex-direction: column;
          text-align: center;
        .phone-icn {
          margin: 5px auto!important;
        }
        p{
            display: none;
        }
      }
      .korzinka-box {
        padding: 10px;
        font-size: 13px;
        flex-direction: column;
        .badge{
            font-size: 13px;
            margin: 2px 0 !important;
            &::before{
                display: none;
            }
        }
        svg{
            font-size: 20px;
        }
      }
    }
  }
}
