@import "../../mainStyle.scss";

.item-content {
  background-color: $bg--color;
  padding-top: 1.2rem;
  .item-container{
    padding-bottom: 2.5rem;
    .back-link{
      color: #000;
      cursor: pointer;
      width: fit-content;
      &:hover{
        span{
          text-decoration: underline;
        }
      }
      svg{
        width: 30px;
        height: 30x;
        background-color: $green--color;
        border-radius: 50%;
        margin-right: 10px;
      }
      
    }
    .grid-container{
      background-color: $card--color;
      display: flex;
      overflow: hidden;
      margin-top: 1.5rem;
      border: 1px solid $green--color--op;
      .grid-item{
        width: 50%;
        &.info{
          padding: 1.3rem 2.4rem;
          display: flex;
          flex-direction: column;
          align-content: space-between;
        }
        >img{
          // width: 300px;
          height: 400px;
        }
        .grid-item-content{
          display: grid;
          height: 100%;
          p{
            margin-top: 10px;
          }
          .info-part{
            margin-top: auto;
            .buttons{
              margin-top: 22px;
              button{
                background: $green--color;
                padding: 0.8rem 1.3rem;
                color: #fff;
                svg{
                  margin-left: 10px;
                }
              }
              >span{
                margin-left: 20px;
                font-size: 25px;
              }
            }
            .item-table{
              margin-top: 24px;
              width: 75%;
              th, td{
                text-align: start;
                font-weight: normal;
                svg{
                  background-color: transparent;
                }
              }
            }
          }
        }
      }
    }
  }
  .line-hr{
    width: 100%;
    height: 1px;
    background-color: rgba(180, 179, 179, 0.4);
  }
}


@media(max-width: 776px){
  .item-content{
    .item-container{
      .grid-container{
        flex-direction: column;
        width: 70%;
        .grid-item{
          width: 100%;
          img{
            width: 300px;
            // height: 100%;
          }
          .grid-item-content{
            .info-part{
              .item-table{
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width: 600px){
  .sold-with-content{
    display: none;
  }
  .item-content{
    .item-container{
      .grid-container{
        flex-direction: column;
        width: 100%;
        .grid-item{
          width: 100%;
          img{
            width: 300px;
            height: 300px;
          }
          .grid-item-content{
            .info-part{
              .item-table{
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}