@import "../../mainStyle.scss";

.food-container {
  padding: 30px 20px 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  max-width: 1440px;
  margin: auto;
  .food-content {
    width: 100%;
    .slick-slide {
      max-width: 341px;
    }
    button {
      &.slick-next {
        top: 105%;
        right: 47%;
        &::before {
          color: $green--color;
          opacity: 1;
          font-size: 25px;
          font-family:  "Gilroy-regular", sans-serif;
        }
      }
      &.slick-prev {
        top: 105%;
        left: 47%;
        &::before {
          color: $green--color;
          opacity: 1;
          font-size: 25px;
          font-family:  "Gilroy-regular", sans-serif;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .food-container .food-content button {
    &.slick-next {
      right: 44%;
    }
    &.slick-prev {
      left: 44%;
    }
  }
}
@media (max-width: 776px) {
  .food-container .food-content button {
    &.slick-next {
      right: 40%;
    }
    &.slick-prev {
      left: 40%;
    }
  }
}
@media (max-width: 576px) {
  .food-container .food-content button {
    &.slick-next {
      right: 35%;
    }
    &.slick-prev {
      left: 35%;
    }
  }
}
