@import "../../mainStyle.scss";

.cafe-content {
  background: {
    image:  url("../../assets/service.jpg");
    size: 100% 100%;
    repeat: no-repeat;
    mask-repeat: no-repeat;
  }
  padding: 100px 70px;
  .grid-container {
    h2 {
      font-size: 27px;
      line-height: 39px;
      color: #fff;
      text-transform: uppercase;
    }
    p {
        font-size: 18px;
        line-height: 25px;
        &.info{
          color: #fff;
          margin-top: 20px;
      }
    }
    button {
      background: rgba(255, 255, 255, 0.05);
      border: 1px solid rgba(255, 255, 255, 0.2);
      box-sizing: border-box;
      backdrop-filter: blur(5px);
      border-radius: 10px;
      color: #fff;
      font-size: 13px;
      padding: 10px 15px;
      text-transform: capitalize !important;
      margin-top: 45px;
    }
    .grid-card {
      padding: 60px 18px 35px;
      background: $green--color;
      backdrop-filter: blur(4px);
      border-radius: 0px;
      svg{          
          transition-duration: 0.1s;
          -webkit-transition-duration: 0.1s;
          -moz-transition-duration: 0.1s;
          color: #fff;
          font-size: 3.5rem;
      }
      svg+p{
          transition: 0.1s linear;
          -webkit-transition: 0.1s linear;
        -moz-transition: 0.1s linear;
          color: #fff;
          margin-top: 16px;
      }
    }
  }
}

@media(max-width: 1200px){
  .cafe-content{
    padding: 50px 40px;
  }
}
@media(max-width: 992px){
  .cafe-content {
    background-attachment: fixed;
  }
}
